.container{
    width: 100%;
    height: 600px;
    background-image: url(C:/Users/joyce/Documents/Joyce/devwebproject/PlantLar-Frontend/imagens/login.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    opacity: 0.4;
}

